body{
	      text-align: center;
	      margin: 10;
	      font-family: Verdana, Arial, sans-serif;
	      font-size: 16px;
	    }
	  
	    .app_form_block input[type="number"] {
    		padding: 4px 4px;
		}
		.app_main .block_row {
			padding: 1em 0.5em;
		}
		.app_timer .app_console .timer_panel_info {
			font-size: 1.6em;
			line-height: 1.2em;
			letter-spacing: 0;
		}

		/*зелёный цвет*/
		.green {
			color: #BFF08E;
		}
		.red {
			color: #E56655;
		}
		.app_timer .app_console .timer_panel_nums {
			font-size: 4.8em;
			line-height: 1.2em;
			margin-top: 50px;
		}
		.app_timer .timer_btn.hide,
		.app_timer .timer_nums.hide,
		.app_timer .timer_sep.hide {
			display: none;
		}
		.app_timer .timer_btn {
			border-color: #777;
			color: #777;
			font-size: 1.2em;
			font-weight: 400;
			line-height: 1.8em;
			padding: 8px 12px;
			margin: 0 2px;
			min-width: 180px;
		}
		.app_timer .timer_btn:hover {
			background-color: #777;
			color: #FFF;
		}
		.app_timer .timer_btn.run,
		.app_timer .timer_btn.pause {
			border-color: #5594E5;
			color: #5594E5;
			font-weight: 600;
		}
		.app_timer .timer_btn.run:hover,
		.app_timer .timer_btn.pause:hover {
			background-color: #5594E5;
			color: #FFF;
		}
